# Third party
**/node_modules

# Not written by hand
packages/proxact-art/npm/lib

# Build products
build/
coverage/
fixtures/
scripts/bench/benchmarks/**/*.js

# React repository clone
scripts/bench/remote-repo/

# Compiler uses its own lint setup
compiler/

packages/proxact-devtools-core/dist
packages/proxact-devtools-extensions/chrome/build
packages/proxact-devtools-extensions/firefox/build
packages/proxact-devtools-extensions/shared/build
packages/proxact-devtools-extensions/src/ErrorTesterCompiled.js
packages/proxact-devtools-fusebox/dist
packages/proxact-devtools-inline/dist
packages/proxact-devtools-shared/src/hooks/__tests__/__source__/__compiled__/
packages/proxact-devtools-shared/src/hooks/__tests__/__source__/__untransformed__/
packages/proxact-devtools-shell/dist
packages/proxact-devtools-timeline/dist
packages/proxact-devtools-timeline/static
